@model IEnumerable<ShrimpDiseasePrevention.Models.Post>

@{
    int? roleId = Context.Session.GetInt32("RoleId");
    var userFullName = Context.Session.GetString("FullName");

    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />


<div class="post_list container">
    <p>
        <a asp-action="AddPost" class="btn btn-primary">Tạo bài viết mới</a>
    </p>


    <div class="post-container">
        @if (Model == null || !Model.Any())
        {
            <div id="no-results" class="text-center" style="height: 70vh; display: flex; justify-content: center; align-items: center;">
                <p>Không có bài viết nào.</p>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="post">
                    <div class="post-header d-flex justify-content-between align-content-center">
                        <div class="post-user">
                            <div class="user-info">
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="user-name me-3">@item.User?.UserFullName</span>
                                    <span class="post-date">@item.PostCreateAt?.ToString("dd/MM/yyyy")</span>
                                </div>

                            </div>
                        </div>
                        @if (roleId == 1 || userFullName == @item.User?.UserFullName)
                        {
                            <div>
                                <form method="post" action="/Post/DeletePost" class="d-inline">
                                    <input type="hidden" name="postId" value="@item.PostId" />
                                    <div class="d-flex justify-content-center align-items-center" style="max-height: 25px;">
                                        <button type="submit" class="btn btn-danger text-white">Xóa</button>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>

                    <div class="post-body">
                        <h5 class="post-title">@item.PostTitle</h5>

                        <p class="post-content">@item.PostContent</p>

                    </div>

                    <div class="post-actions">
                        <a asp-action="DetailsPost" asp-route-postId="@item.PostId" class="btn btn-primary ">Chi tiết</a>
                    </div>


                </div>
            }
        }
    </div>
</div>
