@{
    var newsDetails = ViewBag.NewsDetails as ShrimpDiseasePrevention.Models.News;
    var images = ViewBag.Images as IEnumerable<ShrimpDiseasePrevention.Models.Image>;
    var userFullName = ViewBag.UserFullName as string;
    int? roleId = Context.Session.GetInt32("RoleId");
   

    ViewData["Title"] = "Chi tiết tin tức";
}
<link rel="stylesheet" href="/css/details.css" asp-append-version="true" />

<div class="container news-main" style="margin-top: 110px !important;">
    <!-- Title -->
    <h1 class="article-title text-center fw-bold">@newsDetails?.NewsTitle</h1>

    <!-- Metadata -->
    <div class="d-flex justify-content-center align-items-center article-meta mb-4">
        <span class="me-4 text-muted">
            <i class="bi bi-person-circle me-1"></i>
            Tác giả: <strong>@userFullName</strong>
        </span>
        <span class="text-muted">
            <i class="bi bi-calendar-event me-1"></i>
            Ngày tạo: <strong>@newsDetails.NewsCreateAt.ToString()</strong>
        </span>
    </div>
    @if (!string.IsNullOrEmpty(newsDetails.NewsShortDescription))
    {
        <div class="text-center">
            <strong class="text-dark mt-3">
                <i>
                    @newsDetails.NewsShortDescription
                </i>
            </strong>
        </div>
    }
    <!-- Content -->
    <div class="article-content my-5">
        <p class="text-justify">
            @newsDetails.NewsContent
        </p>
    </div>

    <!-- Image Section -->
    <div class="image-description text-center mb-5">
        @if (images != null && images.Any())
        {
            foreach (var image in images)
            {
                <div class="news-image-container mb-4">
                    <img src="@image.ImagePath" alt="News Image" class="img-fluid rounded shadow-lg">
                </div>
            }
        }
        else
        {
            <p class="text-muted text-center mt-5">Không có hình ảnh nào được tải lên.</p>
        }
    </div>

    <!-- Edit and Delete buttons (only for admin) -->
    @if (roleId == 1)
    {
        <div class="text-center mt-5">
            <a href="/News/EditNews/@newsDetails.NewsId" class="btn btn-primary me-3">
                <i class="fas fa-edit me-1"></i> Chỉnh sửa bài viết
            </a>
            <a href="/News/DeleteNews/@newsDetails.NewsId" class="btn btn-danger">
                <i class="fas fa-trash-alt me-1"></i> Xóa bài viết
            </a>
        </div>
    }
</div>
