@{
    var newsDetails = ViewBag.NewsDetails as ShrimpDiseasePrevention.Models.News;
    var images = ViewBag.Images as IEnumerable<ShrimpDiseasePrevention.Models.Image>;
    var userFullName = ViewBag.UserFullName as string;
}
<link rel="stylesheet" href="/css/details.css" asp-append-version="true" />

<div class="container mt-5 news-main">
    <!-- Title -->
    <h1 class="article-title text-center">@newsDetails.NewsTitle</h1>

    <!-- Metadata -->
    <div class="d-flex justify-content-center article-meta mb-3">
        <span class="me-4">
            Tác giả:
            <strong>
                <i>@userFullName</i>
            </strong>
        </span>
        <span>Ngày tạo: @newsDetails.NewsCreateAt</span>
    </div>

    <!-- Content -->
    <div class="article-content">
        <p class="container">
            @newsDetails.NewsContent
        </p>
    </div>

    <!-- Image -->
    <div class="image-description text-center mb-5">
        @if (images != null && images.Any())
        {
            foreach (var image in images)
            {
                <img src="@image.ImagePath" alt="Image" class="img-fluid rounded">
                @if (newsDetails.NewsShortDescription != null)
                {
                    <p class="text-center mt-4" style="font-size: 13px;">
                        <i>
                            @newsDetails.NewsShortDescription
                        </i>
                    </p>
                }
            }
        }
        else
        {
            <div id="no-results" class="text-center" style="height: 70vh; display: flex; justify-content: center; align-items: center;">
            </div>
        }
    </div>

    <!-- Edit Button -->
    <div class="text-center mt-4">
        <a href="/News/EditNews/@newsDetails.NewsId" class="btn btn-primary">
            Chỉnh sửa bài viết
        </a>
    </div>
    <div class="text-center mt-4">
        <a href="/News/DeleteNews/@newsDetails.NewsId" class="btn btn-danger">
            Xóa bài viết
        </a>
    </div>
</div>